<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Golf Planner</title>

  <!-- jquery + libaries -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!--<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script> -->
  <script type="text/javascript" src="js/libaries/jquery.easing.1.3.js"></script>
  <!-- Bootstrap + libaries-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- /public/js/.. -->
  <script type="text/javascript" src="js/clients.js"></script>
  <!-- /public/css/.. -->
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">

</head>

<body>
  <!-- Nav-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Golf Planner: Clients</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active float-right" href="#">Calendar<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="clients">Clients</a>
      </div>
    </div>
  </nav>

  <!-- Clients -->
  <div id="clients">
  </div>

</body>

</html>
